@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TacticSans-Blk";
  src: url('/fonts/TacticSans-Blk.otf');
}

@font-face {
  font-family: "Altone-Reg";
  src: url('/fonts/Altone Trial-Regular.ttf');
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}